name: build app

on:
  push:
    branches:
      - main
    paths-ignore:
      - '.idea/**'
      - 'preview/**'
      - 'jitpack.yml'
      - '**/*.md'
      - '.gitignore'
  pull_request:
    paths-ignore:
      - '.idea/**'
      - 'preview/**'
      - 'jitpack.yml'
      - '**/*.md'
      - '.gitignore'
  workflow_dispatch:

env:
  JAVA_VERSION: 17
  JAVA_DISTRO: 'temurin'

jobs:
  build:
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        module: [app]
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        
      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v5
    
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRO }}

      - name: Set up gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Make gradlew executable
        run: chmod +x ./gradlew
    
      - name: Build ${{ matrix.module }}
        run: |
          ./gradlew :${{ matrix.module }}:assembleRelease --parallel
      
      - name: Upload ${{ matrix.module }} APK
        uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.module }}-apk-${{ github.run_number }}
          path: ${{ matrix.module }}/build/outputs/apk/release/${{ matrix.module }}-release.apk